DATABASE_URL="database_url"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
HOST="localhost"
PORT=3000
JWT_SECRET="secret"
JWT_REFRESH_SECRET="refresh_secret"
REDIS_URL="redis_url"
REDIS_HOST="redis"
REDIS_PORT= 6379